<!DOCTYPE html>
<html lang="en-AU">
  <head>
    <meta charset="utf-8" />
    <title>Simdom</title>
    <meta name="description" content="Simdom is a lightweight PHP library designed to make parsing and manipulating DOM documents as straightforward as possible." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/site.css" />
    <link rel="shortcut icon" type="image/png" href="assets/manychois.png" />
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script defer src="/assets/site.js"></script>
  </head>
  <body>
    <header>
      <h1>Easier HTML processing in PHP</h1>
      <p>
        Have you ever found the navtie PHP extension <span class="code">dom</span> hard to use? be sure to try
        <span class="me">Simdom</span>. <span class="me">Simdom</span> covers your needs to parse, traverse, modify and
        print HTML documents.
      </p>
      <p>Try it today in your project:</p>
      <pre><code>composer install manychois/simdom</code></pre>
      <ul class="cta-btn-group">
        <li>
          <a href="https://github.com/manychois/simdom">View source code on Github</a>
        </li>
        <li>
          <a href="#app">Play the demo</a>
        </li>
      </ul>
    </header>
    <main>
      <div>
        <h2>Feature highlights</h2>
        <ul>
          <li>
            <h3>Zero-dependency PHP library</h3>
            <p>
              <span class="me">Simdom</span> is designed to be a replacement of the native PHP extension
              <span class="code">dom</span>. You do not have to worry if your web server has the extension installed.
              Being a zero-dependency library, you know exactly what you have installed in your project.
            </p>
          </li>
          <li>
            <h3>HTML5 as first-class citizen</h3>
            <p>
              Simdom embraces the modern HTML5 standard. Unlink the native PHP extension <span class="code">dom</span>,
              <span class="me">Simdom</span> does not require any configuration or warning suppression to start working
              with HTML5. HTML5 doctype and new elements, e.g. <code>&lt;main&gt;</code> , are supported out of the box.
            </p>
          </li>
          <li>
            <h3>Customised pretty HTML output</h3>
            <p>
              When it comes to pretty HTML output, <span class="me">Simdom</span> gives you the flexibility to customise
              the indentation, void element style (<code>&lt;br&gt;</code> vs <code>&lt;br /&gt;</code>), and attribute
              escaping style.
            </p>
          </li>
          <li>
            <h3>Better code completion support</h3>
            <p>
              All public methods and properties in <span class="me">Simdom</span> are well documented with PHPDoc.
              Leverage this in your source-code editor to boost productivity.
            </p>
          </li>
          <li>
            <h3>Go beyond the HTML5 specification</h3>
            <p>
              <span class="me">Simdom</span> has its personal touch in implementing HTML5 specification. For example:
            </p>
            <ul>
              <li>
                <code>Attr</code> interface does not inherit from <code>Node</code>, so with type checking you will
                never insert an attribute into document node.
              </li>
              <li>
                <code>HTMLCollection.item()</code> by specification returns <code>Node</code> interface, but
                <span class="me">Simdom</span> gives you <code>Element</code> instead.
              </li>
              <li>
                <code>Element</code> interface has a new method <code>dfs()</code> for easier descendant traversal.
              </li>
            </ul>
            <p>There are many more coding-friendly improvements awaiting you to discover.</p>
          </li>
        </ul>
      </div>
      <div id="app">
        <h2>Demo</h2>
        <div>
          <p>Paste your HTML snippet or a website URL and press the "Parse" button to see the result.</p>
          <form method="post" @submit.prevent="parse">
            <div>
              <label for="url">Website URL:</label>
              <input id="url" name="url" type="url" v-model="url" />
            </div>
            <div>
              <label for="html">HTML snippet (max 1000 character):</label>
              <textarea id="html" name="html" rows="10" cols="80" v-model="htmlSnippet" maxlength="1000"></textarea>
            </div>
            <button type="submit">Parse</button>
          </form>
        </div>
        <div>
          <h3>Parse Result</h3>
          <ul class="parse-result" v-if="childNodes?.length">
            <li v-for="cn in childNodes"><Node :node="cn" /></li>
          </ul>
        </div>
        <div>
          <h3>Result as JSON</h3>
          <pre>{{ jsonText }}</pre>
        </div>
      </div>
    </main>
  </body>
</html>
